
{% extends "base.html" %}


{% load static %}

{% block title %}
CONTACT US
{% endblock title %}

 
{% block content %}
  <div class="container contact">
    <p> <H2>CONTACT US</H2></p>

       If you would like to get in touch with Kfabbz music with regards to Artiste bookings/enquiries or brand association, 
       please email the brand manager, <mark>King Isama</mark>   .
   
       <br><br><br>

       <ul class="list-inline">
         <li class="list-inline-item mr-5"><a href=""><img src="/images/Google_Mail_Gmail_logo_icon.png" alt=""></a> </li> 
         <li class="list-inline-item ml-auto"><a href=""><img src="/images/call.png" alt=""></a> </li>
       </ul>

      Visit us at: <br>
       <h4><i>ADDRESS</i></h4>
       
       <address>
        kmgmusic.com <br>
        12 Banjo Street <br>  
        Ogba. Ikeja, Lagos. <br>
        Ikeja, Lagos
       </address>
  </div>
{% endblock content %}



</body>
</html>